<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/addTeacher.css" />
  </head>
  <body>
    <h1>Enter Teacher Info</h1>

    <div class="row2">
      <div><label for="">Enter Name</label></div>
      <div><input type="text" placeholder="Md. X" /></div>
      <div><label for="">Password</label></div>
      <div><input type="password" /></div>
      <button type="submit">Save</button>
    </div>
  </body>
</html>
