<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login Window</title>

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <script>
      if (typeof module === "object") {
        window.module = module;
        module = undefined;
      }
    </script>
    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/script.js"></script>
  </head>

  <body>
    <div id="form-container" class="container">
      <!-- . . . . -->
      <button id="btn-login" target="_blank" onclick="createMainWindow()">
        Login
      </button>
      <a href="./main.html"><p>Main Page</p></a>
      <!-- . . . . -->

      <h1>Login</h1>
      <div class="form-group">
        <input
          type="email"
          placeholder="Email"
          class="form-control"
          id="email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          placeholder="Password"
          class="form-control"
          id="password"
        />
      </div>
      <a class="btn btn-success" id="signInBtn">Sign In</a>
      <a href="./register.html" class="btn btn-danger" id="signUpBtn"
        >Sign Up</a
      >
    </div>
  </body>

  <script src="../controller/loginController.js"></script>
</html>
